<div class="modal fade" id="loginCliente" aria-hidden="true" aria-labelledby="modalLoginCliente" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLoginCliente">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-login></app-login>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark" data-bs-target="#registroDatosCliente" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Registro</button>
            </div>
        </div>
    </div>
</div>
<app-registro-modal></app-registro-modal>