<div class="card mb-0" alt="max-width: 100%">
  <div class="row g-0">
    <div class="col-md-3">
      <div class="imaytex">
        <img id="imagen" data-src={{carritoItem.imgUrl}} class="mg-fluiid rounded-start" alt="Card image cap">
      </div>
      <div class="imaytex">
        <h5 id="nombreproducto" class="card-title"><b>{{carritoItem.nombre}}</b></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <p id="preciounitario" class="card-text"><small class="text-muted">S/{{carritoItem.precios[1]}}</small></p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <form class="form-group" name="formulario" method="post" action="/send.php">
          <input class="form-control" type="number" name="numero" value="1" min="1" max="50" step="1" />
        </form>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
          <p id="subtotal" class="card-text"><small class="text-muted">S/{{carritoItem.precios[1]}}</small></p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <button id="btn" type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>